### Tuples 

- Anything written inside the () or round brackets are called as tuple
- Like list, here the elements are seperated by a comma
- A tuple is a container datatype that can have multiple elements or values in it
- A tuple can contain heterogenous (different kind) of elements in it
- A tuple can also have duplicate value in it 
- Unlike list, tuple are immutable i.e. we can not modify them, once they are declared.

In [1]:
t = (1,2,3,4,5)
print(t, type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [3]:
t = (1)
print(t, type(t))

1 <class 'int'>

In [4]:
t = (1,)
print(t, type(t))

(1,) <class 'tuple'>

In [5]:
t = (1, 2.0, True, 5+8j, 'python', range(5), None, [1,2,3], (1,2,3), {1:100, 2:200})
print(t, type(t))

(1, 2.0, True, (5+8j), 'python', range(0, 5), None, [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}) <class 'tuple'>

### List vs Tuple 

- List are mutable whereas tuple are immutable

In [6]:
lst = [1,2,3,4,5]
t = (1,2,3,4,5)

In [7]:
print(lst, t)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5)

In [8]:
# Assigning the 5th index in the list as 0
lst[4] = 0

In [9]:
lst

[1, 2, 3, 4, 0]

In [10]:
t[4] = 0

TypeError: 'tuple' object does not support item assignment

In [11]:
id(t)

2498956168464

In [14]:
t = t[0:4]+(0)

TypeError: can only concatenate tuple (not "int") to tuple

In [17]:
t = t[0:4]+(0,)
t

(1, 2, 3, 4, 0)

In [18]:
id(t)

2498969851504

### Immutable 

- We cannot modify the object once the declaration is done
- Item assignment is not allowed
- If you want to make a change, we have to create a new object for that which means a new memory location is being allocated to the new object and it will be completely different from the previous one

In [25]:
t = (1,2,3,4)
new_tuple = ()
print(id(new_tuple), type(new_tuple))

for i in t:
    new_tuple = new_tuple + (i,)
    print(new_tuple, id(new_tuple))

140731431351768 <class 'tuple'>
(1,) 2498959176560
(1, 2) 2498980664768
(1, 2, 3) 2498973468096
(1, 2, 3, 4) 2498973361360

In [21]:
print(id(t), id(new_tuple))

2498973368080 2498973361520

In [22]:
lst = [1,2,3]

lst1 = lst+[1]
print(id(lst), id(lst1))

2498973938368 2498973938112

In [23]:
lst.append(1)
print(lst, id(lst))

[1, 2, 3, 1] 2498973938368

### Operations in Tuples

- Length
- Concatenation 
- Repetition 
- Indexing and Slicing

### Length 

- It returns the number of elements inside a tuple

In [26]:
t = (1, 2.0, True, 5+8j, 'python', range(5), None, [1,2,3], (1,2,3), {1:100, 2:200})

In [27]:
len(t)

10

### Concatenation

- Joining or adding two or more tuples together are known as concatenation

In [29]:
t = (1,2,3,4)
t_1 = ([1,2,3])

t+t_1

TypeError: can only concatenate tuple (not "list") to tuple

In [30]:
t = (1,2,3,4)
t_1 = ([1,2,3],)

t+t_1

(1, 2, 3, 4, [1, 2, 3])

### Repetition 

-(*) Operator is used to perform repition over a tuple

In [31]:
t

(1, 2, 3, 4)

In [32]:
t*4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

### Indexing and Slicing

- A tuple is an ordered collection if data because each element in a tuple is stored at a particular index
- A tuple is also called a sequential datatype because it follows indexing
- A  tuple supports both +ve and -ve indexing

### Positive Indexing

- +ve indexing starts from left to right
- By default, start from 0 
- the index of the last element in a tuple is going to be len(tuple)-1


### Negative Indexing

- -ve indexing starts from right to left 
- By default, it starts with -1
- The index of the last element in a tuple in -ve indexing is going to be -len(tuple)

In [40]:
t = (1, 2.0, True, 5+8j, 'python', range(5), None, [1,2,3], (1,2,3), {1:100, 2:200})

In [34]:
t[0]

1

In [35]:
t[len(t)-1]

{1: 100, 2: 200}

In [41]:
t[5]

range(0, 5)

In [47]:
t[11]

IndexError: tuple index out of range

#### - Ve indexing

In [45]:
t[-1]

{1: 100, 2: 200}

In [46]:
t[-11]

IndexError: tuple index out of range

### Slicing 

    Syntax:
    
    tuple_name[starting_index: ending_index(n+1): step_size]
    
    where
    Starting index, by default value is 0
    Ending index, as it is  excluded so we have to take till the end of the tuple
    Step-size, by default will ve 1

In [53]:
t = (10,20,30,20,10)

t = (10,20,30,20,10)
                            
    
                            (10,20,30,20,10)
                             -5 -4 -3 -2 -1

In [49]:
t[1:]

(20, 30, 20, 10)

In [50]:
t[1:4]

(20, 30, 20)

In [51]:
t[::-1]

(10, 20, 30, 20, 10)

In [52]:
t[-5:-1] # t[-5]+t[-4]+t[-3]+t[-2] 10,20,30,20

(10, 20, 30, 20)

In [54]:
t = (1, 2.0, True, 5+8j, 'python', range(5), None, [1,2,3], (1,2,3), {1:100, 2:200})

In [55]:
t[0:5]

(1, 2.0, True, (5+8j), 'python')

In [56]:
t[-len(t):]

(1,
 2.0,
 True,
 (5+8j),
 'python',
 range(0, 5),
 None,
 [1, 2, 3],
 (1, 2, 3),
 {1: 100, 2: 200})

In [57]:
t[-len(t)::2]

(1, True, 'python', None, (1, 2, 3))

### How to create a Tuple

#### Case-1 When we already know the elements

In [59]:
t = (1, 2.0, True, 5+8j, 'python', range(5), None, [1,2,3], (1,2,3), {1:100, 2:200})

In [60]:
print(t, type(t))

(1, 2.0, True, (5+8j), 'python', range(0, 5), None, [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}) <class 'tuple'>

#### Case-2 

- Typecasting
- tuple() function is used to convert an iterable object to a tuple datatype 
- tuple() function is not applicable on int, float, complex, bool, None

In [61]:
a = 11
b = tuple(a)

TypeError: 'int' object is not iterable

In [64]:
string = 'mayank'
b = tuple(string)
print(b, type(b))

('m', 'a', 'y', 'a', 'n', 'k') <class 'tuple'>

### Case-3 

Using loop

In [65]:
t = (1,2,3,4)
new_tuple = ()
print(id(new_tuple), type(new_tuple))

for i in t:
    new_tuple = new_tuple + (i,)
    print(new_tuple, id(new_tuple))

140731431351768 <class 'tuple'>
(1,) 2498959175264
(1, 2) 2498982117952
(1, 2, 3) 2498976150336
(1, 2, 3, 4) 2498987168112

In [74]:
i = 0
new_t = ()
while i<=5:
    new_t += (i,)
    print(new_t, id(new_t))
    i += 1

(0,) 2498983742192
(0, 1) 2498983471296
(0, 1, 2) 2498975734272
(0, 1, 2, 3) 2498978317392
(0, 1, 2, 3, 4) 2498969847664
(0, 1, 2, 3, 4, 5) 2498977602656

#### Case-4

- Tuple comprehension 
- Tuple comprehension is easiest way to create a generator object

In [66]:
t = (i for i in range(1,11))
print(t)

<generator object <genexpr> at 0x00000245D69F4EE0>

### Case-5

Create a tuple using a single element

In [67]:
t = (1,)
print(t, type(t))

(1,) <class 'tuple'>

#### Case-6 (Non-convential way)

- When we assign multiple values to a single variale, then by default, python stores all the element or value in a a tuple and this process is known as packing the variable

In [71]:
a = 10,20,30,40,50,10,20,30

In [72]:
print(a, type(a))

(10, 20, 30, 40, 50, 10, 20, 30) <class 'tuple'>

### Packing and Unpacking

#### Packing

    - If we assign multiple values toa single variable, this process is knowns as packing
    - In python, tuple supports Packing

In [75]:
emp_detail = 'Mayank', 29, 'Benagluru', 96000
print(emp_detail, type(emp_detail))

('Mayank', 29, 'Benagluru', 96000) <class 'tuple'>

### Unpacking

- Assigning value to multiple variables from a single variable, this is known as unpacking
- Order in which we have packed the values is importamt

In [76]:
Name, age, City, salary = emp_detail

In [77]:
Name

'Mayank'

In [78]:
age

29

In [79]:
City

'Benagluru'

In [80]:
salary

96000

In [81]:
Name, salary, age, city = emp_detail

In [82]:
Name

'Mayank'

In [83]:
age

'Benagluru'

In [84]:
city

96000

In [85]:
salary

29

### Methods

In [86]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

### Count

- It counts the number of occurance of an element inside a tuple

    Syntax:
        
        t.count(element)

In [88]:
import numpy as np

In [91]:
a = np.random.randint(1,10,27) # if we wish to create random values between a range
t = tuple(a)
print(t)

(4, 3, 4, 8, 6, 4, 6, 2, 8, 1, 8, 2, 5, 5, 1, 9, 7, 6, 9, 4, 6, 9, 5, 1, 5, 7, 1)

In [92]:
t.count(4)

4

In [93]:
t.count(8)

3

In [94]:
t.count(12)

0

### Index


- It returns the index of the first occurance of the specified character in the tuple
- If the value not found, it will throw an error

    Syntax:
        
        t.index(element)
        t.index(element, starting_index)
        t.index(element, starting_index, ending_index)

In [96]:
print(t)

(4, 3, 4, 8, 6, 4, 6, 2, 8, 1, 8, 2, 5, 5, 1, 9, 7, 6, 9, 4, 6, 9, 5, 1, 5, 7, 1)

In [97]:
t.index(4)

0

In [98]:
t.index(4, 1)

2

In [100]:
t.index(4, 6, 27)

19

In [101]:
t.index(12)

ValueError: tuple.index(x): x not in tuple

In [ ]:
for i, j in enumerate(lst):
    if j == 1 and j == True:
        print(f'The index of 1 or True is {i} ')

Declare a boolean value and store it in a variable.
Check the type and print the id of the same.

In [102]:
a = True 
print(type(a), id(a))

<class 'bool'> 140731429825056