### Nested loops 

- A loop within a loop is known as a nested loop
- When Inner loop completes all its iteration, then the outer loop iterates over to the next element


    Syntax:
    
        for loop: # Outer loop
            for loop: # Inner loop 
                code-1 
                code-2 
                code-3

In [1]:
for i in range(3): #(0,1,2)
    for j in range(2): # (0,1)
        print(f'The value of i is {i} and the value of j is {j}')
        print('Hello')
        print('-------------------------')

The value of i is 0 and the value of j is 0
Hello
-------------------------
The value of i is 0 and the value of j is 1
Hello
-------------------------
The value of i is 1 and the value of j is 0
Hello
-------------------------
The value of i is 1 and the value of j is 1
Hello
-------------------------
The value of i is 2 and the value of j is 0
Hello
-------------------------
The value of i is 2 and the value of j is 1
Hello
-------------------------

In [3]:
for i in range(3): #(0,1,2) 
    for j in range(5): # (0,1,2,3,4)
        print(f'The value of i is {i} and the value of j is {j}')
        print('Hello')
    print('-------------------------')

The value of i is 0 and the value of j is 0
Hello
The value of i is 0 and the value of j is 1
Hello
The value of i is 0 and the value of j is 2
Hello
The value of i is 0 and the value of j is 3
Hello
The value of i is 0 and the value of j is 4
Hello
-------------------------
The value of i is 1 and the value of j is 0
Hello
The value of i is 1 and the value of j is 1
Hello
The value of i is 1 and the value of j is 2
Hello
The value of i is 1 and the value of j is 3
Hello
The value of i is 1 and the value of j is 4
Hello
-------------------------
The value of i is 2 and the value of j is 0
Hello
The value of i is 2 and the value of j is 1
Hello
The value of i is 2 and the value of j is 2
Hello
The value of i is 2 and the value of j is 3
Hello
The value of i is 2 and the value of j is 4
Hello
-------------------------

In [6]:
for i in range(2):
    for j in range(3):
        for k in range(4):
            print(f'The value of i is {i}, the value of j is {j} and the value of k is {k}')
        print('--------------')

The value of i is 0, the value of j is 0 and the value of k is 0
The value of i is 0, the value of j is 0 and the value of k is 1
The value of i is 0, the value of j is 0 and the value of k is 2
The value of i is 0, the value of j is 0 and the value of k is 3
--------------
The value of i is 0, the value of j is 1 and the value of k is 0
The value of i is 0, the value of j is 1 and the value of k is 1
The value of i is 0, the value of j is 1 and the value of k is 2
The value of i is 0, the value of j is 1 and the value of k is 3
--------------
The value of i is 0, the value of j is 2 and the value of k is 0
The value of i is 0, the value of j is 2 and the value of k is 1
The value of i is 0, the value of j is 2 and the value of k is 2
The value of i is 0, the value of j is 2 and the value of k is 3
--------------
The value of i is 1, the value of j is 0 and the value of k is 0
The value of i is 1, the value of j is 0 and the value of k is 1
The value of i is 1, the value of j is 0 and the value of k is 2
The value of i is 1, the value of j is 0 and the value of k is 3
--------------
The value of i is 1, the value of j is 1 and the value of k is 0
The value of i is 1, the value of j is 1 and the value of k is 1
The value of i is 1, the value of j is 1 and the value of k is 2
The value of i is 1, the value of j is 1 and the value of k is 3
--------------
The value of i is 1, the value of j is 2 and the value of k is 0
The value of i is 1, the value of j is 2 and the value of k is 1
The value of i is 1, the value of j is 2 and the value of k is 2
The value of i is 1, the value of j is 2 and the value of k is 3
--------------

In [7]:
for i in range(2):
    print(i)

0
1

In [ ]:
2-D matrix

[[2,3,4
  4,5,6
  6,7,8]]

3-D matrix 
Patterns --- Triangle pattern, diamond shape patter,

### Transfer Statement

- These statements will transfer the control in some other direction 

#### Types of Transfer Statement 
    
    - break 
    - continue

### Break Statement 

- It is used to break or terminate a loop (for loop and while loop)
- As soon as the break statement gets encountered the contol or the flow comes out of the loop

In [9]:
for i in range(1,11): #(1,2,3,4,5,6,7,8,9,10)
    if i == 5:
        print('Bye')
        break
    else:
        print(i)
print('for loop gets terminated')

1
2
3
4
Bye
for loop gets terminated

In [10]:
for i in range(1,11): #(1,2,3,4,5,6,7,8,9,10)
    if i == 5:
        print('Bye')
        
    else:
        print(i)
print('for loop gets terminated')

1
2
3
4
Bye
6
7
8
9
10
for loop gets terminated

In [15]:
for i in range(4): #(0,1,2,3)
    for j in range(3): #(0,1,2)
        print(f'The value of i is {i} and the value of j is {j}')
        print('Python')
        break
    print('---------------------')

The value of i is 0 and the value of j is 0
Python
---------------------
The value of i is 1 and the value of j is 0
Python
---------------------
The value of i is 2 and the value of j is 0
Python
---------------------
The value of i is 3 and the value of j is 0
Python
---------------------

In [14]:
for i in range(4): #(0,1,2,3)
    for j in range(3): #(0,1,2)
        print(f'The value of i is {i} and the value of j is {j}')
        print('Python')
        if j == 1:
            break
    print('---------------------')

The value of i is 0 and the value of j is 0
Python
The value of i is 0 and the value of j is 1
Python
---------------------
The value of i is 1 and the value of j is 0
Python
The value of i is 1 and the value of j is 1
Python
---------------------
The value of i is 2 and the value of j is 0
Python
The value of i is 2 and the value of j is 1
Python
---------------------
The value of i is 3 and the value of j is 0
Python
The value of i is 3 and the value of j is 1
Python
---------------------

### While loop:

In [18]:
i = 0 

while i<= 10:
    if i == 5:
        print('Bye')
        break
    else:
        print(i)
        i += 1  

print('for loop gets terminated')

0
1
2
3
4
Bye
for loop gets terminated

### Continue 

- It is used to skip the current iteration of a loop 
- It does not terminates the loop, it only skips the current iteration 
- As soon as the continue statement gets executed, the control or the flow goes to the next iteration

### for Loop

In [20]:
for i in range(1,11):
    if i == 5:
        print('continue to the next iteration')
#         continue
    else:
        print(i)

1
2
3
4
continue to the next iteration
6
7
8
9
10

### While Loop

In [30]:
i = 0

while i <=10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [27]:
i = 0

while i <= 10:
    i = i +1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10
11

In [32]:
i = 1

while i <= 10:
    
    if i == 5:
        continue
    print(i)
    i = i +1

1
2
3
4

KeyboardInterrupt:

### pass 

- A pass statement is used as a place holder for a time being and is majorly used when we are not sure about the  functionality we are going to use but it can be added lately, 
- It is a place holder so that my code should become syntatically correct

In [41]:
for i in range(11):
    if i %2 == 0:
        print(i)
    else:

SyntaxError: incomplete input (2060523722.py, line 5)

In [35]:
for i in range(11):
    if i %2 == 0:
        print(i)
    else:
        pass

0
2
4
6
8
10

In [37]:
for i in range(11):
    
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [38]:
for i in range(11):
    
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10

In [39]:
for i in range(11):
    
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [43]:
for i in range(11):
    if i == 0:
        continue
    elif i %2 == 0:
        print(i**2)
    else:
        print(i**3)

1
4
27
16
125
36
343
64
729
100

In [ ]:
Operators
# Strings
Conditional Statements 
loops

### List 

- Anything written inside the square paranthese [.....] is a list
- A comma (,) is used to seperate the elements from one another
- A list is a container datatype that can contain multiple elements (same type or different type)
- A list can contain heterogenous element (different types) of elements
- A list can have duplicate values in it 
- A list is a mutable datatype that means we can change or alter the elements inside the list

In [49]:
lst = [1,2,3,4,5,1,2,3,4] # homogenous values
print(lst, type(lst))

[1, 2, 3, 4, 5, 1, 2, 3, 4] <class 'list'>

In [50]:
for i in lst:
    print(i ,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>

In [54]:
lst = [1,2.0, 3+3j, True, "python", None, range(5), [1,2,3], (1,2,3), {1:100, 2:200}, "python", None, range(5)]
print(lst, type(lst))
print(id(lst))

print('----------------------------------------------')
for i in lst:
    print(i, type(i))

[1, 2.0, (3+3j), True, 'python', None, range(0, 5), [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}, 'python', None, range(0, 5)] <class 'list'>
1876973524032
----------------------------------------------
1 <class 'int'>
2.0 <class 'float'>
(3+3j) <class 'complex'>
True <class 'bool'>
python <class 'str'>
None <class 'NoneType'>
range(0, 5) <class 'range'>
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>
{1: 100, 2: 200} <class 'dict'>
python <class 'str'>
None <class 'NoneType'>
range(0, 5) <class 'range'>

In [52]:
lst

[1,
 2.0,
 (3+3j),
 True,
 'python',
 None,
 range(0, 5),
 [1, 2, 3],
 (1, 2, 3),
 {1: 100, 2: 200},
 'python',
 None,
 range(0, 5)]

In [55]:
lst[0] = 100
print(lst)
print(id(lst))

[100, 2.0, (3+3j), True, 'python', None, range(0, 5), [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}, 'python', None, range(0, 5)]
1876973524032

### Operations On List 

- Length
- concatenation
- repetition
- Indexing and Slicing

### Length

In [56]:
lst

[100,
 2.0,
 (3+3j),
 True,
 'python',
 None,
 range(0, 5),
 [1, 2, 3],
 (1, 2, 3),
 {1: 100, 2: 200},
 'python',
 None,
 range(0, 5)]

In [57]:
len(lst)

13

### Concatenation 

- Joining two or more list together 
- (+) operator is used to concatenate the two list together 
- __Note:__ Only a list can be concatenated with another list

In [58]:
lst + 1

TypeError: can only concatenate list (not "int") to list

In [59]:
lst + [1,2,3,4,5]

[100,
 2.0,
 (3+3j),
 True,
 'python',
 None,
 range(0, 5),
 [1, 2, 3],
 (1, 2, 3),
 {1: 100, 2: 200},
 'python',
 None,
 range(0, 5),
 1,
 2,
 3,
 4,
 5]

### Repetition 

- (*) operator is to perform repetition of a list

In [60]:
lst = [1,2,3]
lst*4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### Indexing and Slicing

#### Indexing

- A list is an ordered collection of a datatype because each element in a list is stored at a particular index
- A list is also known as a sequence datatype because it follows indexing
- It follow both +ve as well -ve indexing

In [63]:
lst = [1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [64]:
lst[0]

1

In [65]:
lst[4]

5

In [66]:
lst[6]

IndexError: list index out of range

### Positive indexing (+ve)

- It will start from left to right
- By default, It will start from 0th index
- The index of the last element will be len(lst)-1

In [67]:
lst[0]

1

In [68]:
lst[2]

3

### Negative Indexing

- It will start from right to left
- By default, the index will start from -1
- The index of the last element will be -len(lst)

In [69]:
lst

[1, 2, 3, 4, 5]

In [70]:
lst[-1]

5

In [71]:
lst[-5]

1

In [72]:
lst[-6]

IndexError: list index out of range