### Dictionary (mapping data-type)

- A dictionary is a collection of Keys and value pairs (key:value) and this is kept inside the {} (curly brackets)
- Each key:value pair is known as an element or an item of a dictionary 
- Keys cannot be duplicated (it should remain unique) whereas values are can have duplicate values in it
- If the key has a duplicated value then the key is updated with the last value that we have assigned to the key
- Keys should have immutable datatypes and values can have any datatype (mutable or immutable)

In [3]:
d = {1:100, 2:(100, 200), 3:[1,2,3,4]}
print(d, type(d))

{1: 100, 2: (100, 200), 3: [1, 2, 3, 4]} <class 'dict'>

In [5]:
d = {1:100, 2:200, 3:'mayank', 4:None, 5:True, 6:range(5)}
print(d, type(d))

{1: 100, 2: 200, 3: 'mayank', 4: None, 5: True, 6: range(0, 5)} <class 'dict'>

In [6]:
d = {[1]:100}

TypeError: unhashable type: 'list'

In [24]:
emp_detail = {'name':['Mayank', 'Geetika', 'Rishabh', 'Abha'], 'age':[29,28, 28, 29], 'city':['Bengaluru', 'Panchkula', 'Noida', 'Ambala']}

In [13]:
emp_detail

{'name': ['Mayank', 'Geetika', 'Rishabh', 'Abha'],
 ('age',): [29, 28, 28, 29],
 'city': ['Bengaluru', 'Panchkula', 'Noida', 'Ambala']}

- A dictionary is a container datatype that can contain multiple elements 
- A dictioanry is an unordered collection of data which means that it does not follow the concept of indexing
- In a dictionary, values are mapped to a key and we can access any value with the help of a key
- It is also called a non-sequential datatype because we cannot use indexing here
- It is also called a mapping datatype

In [25]:
emp_detail

{'name': ['Mayank', 'Geetika', 'Rishabh', 'Abha'],
 'age': [29, 28, 28, 29],
 'city': ['Bengaluru', 'Panchkula', 'Noida', 'Ambala']}

In [27]:
a = 'mayank'

In [28]:
a[0]

'm'

In [15]:
d[0]

KeyError: 0

In [29]:
emp_detail

{'name': ['Mayank', 'Geetika', 'Rishabh', 'Abha'],
 'age': [29, 28, 28, 29],
 'city': ['Bengaluru', 'Panchkula', 'Noida', 'Ambala']}

In [30]:
emp_detail['name']

['Mayank', 'Geetika', 'Rishabh', 'Abha']

In [31]:
emp_detail['city']

['Bengaluru', 'Panchkula', 'Noida', 'Ambala']

In [22]:
emp_detail["Name"]

KeyError: 'Name'

### Operations in Dictionary

- The only operation that we can do over a dictionary is length, which will calculate the total key:value pair in the dictioanry
- We cannot use any other operation like concatenation, repertition and indexing-slicing

In [32]:
{1:100}+{2:200}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [33]:
emp_detail

{'name': ['Mayank', 'Geetika', 'Rishabh', 'Abha'],
 'age': [29, 28, 28, 29],
 'city': ['Bengaluru', 'Panchkula', 'Noida', 'Ambala']}

In [34]:
emp_detail[0]

KeyError: 0

In [35]:
d

{1: 100, 2: 200, 3: 'mayank', 4: None, 5: True, 6: range(0, 5)}

In [36]:
d*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [37]:
emp_detail

{'name': ['Mayank', 'Geetika', 'Rishabh', 'Abha'],
 'age': [29, 28, 28, 29],
 'city': ['Bengaluru', 'Panchkula', 'Noida', 'Ambala']}

In [38]:
len(emp_detail)

3

### How to create Dictionary

#### Case-1 
- When we already know the element

In [40]:
emp = {'name':'mayank ghai', 'age':29, 'city':'Bengaluru', 'company':('IZMO', 'Learnbay')}
print(emp, type(emp))

{'name': 'mayank ghai', 'age': 29, 'city': 'Bengaluru', 'company': ('IZMO', 'Learnbay')} <class 'dict'>

#### Case-2

- Using a dict() or Typecasting
- dict() function can be used with either of these fours
    - list of a list
    - list of a tuple 
    - tuple of a list
    - tuple of a tuple
    
- The inner elememt should have two values in it, the first element will become the key and the second element will become the values

In [ ]:
a = [[1,2,3], [2,3,4], [3,4,5]] # list of a list
b = [(1,2,3), (2,3,4), (3,4,5)] # list of a tuple
c = ([1,2,3], [2,3,4], [3,4,5]) # tuple of a list
d = ((1,2,3), (2,3,4), (3,4,5)) # tuple of a list

In [41]:
d = (('Name', 'Mayank'),('Age', 29))
print(d, type(d))

(('Name', 'Mayank'), ('Age', 29)) <class 'tuple'>

In [42]:
emp = dict(d)

In [43]:
print(emp)

{'Name': 'Mayank', 'Age': 29}

In [44]:
d = (('Name', ['Mayank', 'Geetika', 'Risabh', 'Sagar']),('Age', (29, 28, 28, 37)))
print(d, type(d))

(('Name', ['Mayank', 'Geetika', 'Risabh', 'Sagar']), ('Age', (29, 28, 28, 37))) <class 'tuple'>

In [45]:
emp = dict(d)
emp

{'Name': ['Mayank', 'Geetika', 'Risabh', 'Sagar'], 'Age': (29, 28, 28, 37)}

In [46]:
d=((1,2),(2,3))
e = dict(d)

In [47]:
e

{1: 2, 2: 3}

In [56]:
# example why we cannot pass a set or a frozenset in the dict function 
d = ({'Name', 'mayank'},('Age', 29))
emp = dict(d)
emp

{'mayank': 'Name', 'Age': 29}

In [54]:
d = (('Name', 'mayank'),('Age', 29))
emp = dict(d)
emp

{'Name': 'mayank', 'Age': 29}

### Case-3

- By using enumerate along with dict()

##### enumerate()

    - It take an iterable as an argument
    - It return an enumerate object
    - To fetch out the values from the enumerarte object we need to oass them either in a list or a tuple or in a dictionary
    - It maps the element of the iterable one by one from 0 to len(itearable)-1

In [81]:
a = 'Python'
e = enumerate(a)
print(e)

<enumerate object at 0x000001C377D50180>

In [82]:
list(e)

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [83]:
a = 'Python'
e = enumerate(a)
print(tuple(e))

((0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n'))

In [84]:
print(dict(e))

{}

In [89]:
a = [1,2,3,4]
e = enumerate(a)

In [90]:
e

In [91]:
a = dict(e)

In [92]:
dict(e)

{}

In [93]:
a

{0: 1, 1: 2, 2: 3, 3: 4}

#### Case-4 

- Using zip() function 
    - It will zip two iterables together 
    - It will return a zip object
    - It maps all the elements of the first iterable to all the elemenets of the second iterable 
    - To fetch out the value, we have to pass them in either a list, tuple or a dictionary
    - The first iterable will be taken as the keys and the second itearble are taken as the values, so the order matters 
    
__Note:__

    - While creating a dictionary using a zip(), we should remember that it should have two iterables as an argument
    - The number of elements inside the iterable should be same
    - If the numbers of elements inside the iterable are not equal, then it will map only the elements that we can map togther

In [70]:
a = 'abcde'
lst = [10,20,30,40,50]

In [ ]:
                                        a  b  c  d  e
                                        0  1  2  3  4 
                                        10 20 30 40 50

In [72]:
zip(a,lst)

In [74]:
dict(zip(a,lst))

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [75]:
a = 'abcde'
lst = [10,20,30,40]

In [ ]:
                                        a  b  c  d  e
                                        0  1  2  3  4  ---> index
                                        10 20 30 40 50 60

In [76]:
dict(zip(a, lst))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [105]:
a = 'abcd'
lst = [10,20,30,40,50]

In [78]:
dict(zip(a, lst))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [106]:
a = zip(a, lst, lst1)

In [107]:
dict(a)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [134]:
a={'abba':[1,2,3,4],'amma':[5,6,7,8]}
b={'i': 10, 'r': 20, 'f': 30, 'a': 40}
c=zip(b,a)
dict(c)

{'abba': 'i', 'amma': 'r'}

{'abba': 'i', 'amma': 'r'}

In [ ]:
numpy ----> seed it will fix the random state

In [130]:
import numpy as np
np.random.seed(4294967296)
a = np.random.randint(1,10, 12)
a

ValueError: Seed must be between 0 and 2**32 - 1

In [ ]:
0-(2**32)-1

In [128]:
2**32

4294967296

In [131]:
emp

{'mayank': 'Name', 'Age': 29}

In [132]:
for i in emp:
    print(i)

mayank
Age

In [135]:
a={'abba':[1,2,3,4],'amma':[5,6,7,8]}
b={'i': 10, 'r': 20, 'f': 30, 'a': 40}
c=zip(b,a)
dict(c)

# {'abba': 'i', 'amma': 'r'}

{'i': 'abba', 'r': 'amma'}