### List Methods

In [1]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### append()

- It adds the element at the end of the list
- It will take exactly one argument

In [2]:
lst = [1,2,3,4,5]

In [3]:
lst.append(1)

In [4]:
lst

[1, 2, 3, 4, 5, 1]

In [5]:
lst = [] #empty list
lst.append(123)
lst

[123]

In [6]:
lst.append('mayank')
lst.append(None)
lst.append(True)
lst.append([1,2,3])
lst.append((1,2,3))
lst.append({1:100, 2:200})

In [7]:
lst

[123, 'mayank', None, True, [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}]

In [8]:
lst.append(1,2,3)

TypeError: list.append() takes exactly one argument (3 given)

In [9]:
# create a program to append all the number from 1-10 in a list using append method

a = [] #created an empty list that will store the element that we will append

for i in range(1,11):
    a.append(i)
    
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# create a program to append all the number from 1-10 in a two list even and odd using append method

even = []
odd = []
for i in range(1,11):
    if(i%2==0):
        even.append(i)
    else:
        odd.append(i)
    
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

### list comprehension

In [12]:
even = [i for i in range(1,11) if(i%2==0) ]

odd = [i  for i in range(1,11) if(i%2!=0)]

print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

### extend()

- It takes an iterable as an argument (string, list, tuple, dictionary, set or a frozenset)
- It adds the element of the iterable to the list one by one

In [13]:
lst

[123, 'mayank', None, True, [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}]

In [14]:
lst.extend('python')
lst

[123,
 'mayank',
 None,
 True,
 [1, 2, 3],
 (1, 2, 3),
 {1: 100, 2: 200},
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [15]:
lst.extend(12)

TypeError: 'int' object is not iterable

In [16]:
lst.extend([1,2,3,4,5])
lst

[123,
 'mayank',
 None,
 True,
 [1, 2, 3],
 (1, 2, 3),
 {1: 100, 2: 200},
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 1,
 2,
 3,
 4,
 5]

In [17]:
lst.append([1,2,3,4,5])

In [18]:
lst

[123,
 'mayank',
 None,
 True,
 [1, 2, 3],
 (1, 2, 3),
 {1: 100, 2: 200},
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 1,
 2,
 3,
 4,
 5,
 [1, 2, 3, 4, 5]]

In [19]:
# How exactly extend function is happening

# lst.extend('mayank')

temp = 'mayank' # the argument is stored in a temporary variable

lst = [1,2,3,4,5]

for i in temp:
    lst.append(i)

del(temp)

print(lst)

[1, 2, 3, 4, 5, 'm', 'a', 'y', 'a', 'n', 'k']

### index()

- It returns the index of the first occurance of an element from left to right
- If the element is not found, then it will return a value error

In [22]:
lst = [123,
 'mayank',
 None,
 True,
 [1, 2, 3],
 (1, 2, 3),
 {1: 100, 2: 200},
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 1,
 2,
 3,
 4,
 5,
 [1, 2, 3, 4, 5]]

In [23]:
print(lst)

[123, 'mayank', None, True, [1, 2, 3], (1, 2, 3), {1: 100, 2: 200}, 'p', 'y', 't', 'h', 'o', 'n', 1, 2, 3, 4, 5, [1, 2, 3, 4, 5]]

In [28]:
bool(1)

True

In [24]:
lst.index(1)

3

In [25]:
lst.index('p')

7

In [26]:
lst.index(5)

17

In [29]:
lst.index('m')

ValueError: 'm' is not in list

In [30]:
lst.index(True)

# compiler is converting all the boolean value into 2 value True - 1 and false- 0

3

In [31]:
bool(123)

True

In [32]:
lst.index[5]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [33]:
lst = [1,1.0,True, 'm', 'y', 'n', 'python', [1,2,3]]
string = 'mayank'

In [35]:
lst.index('m')

3

In [36]:
string.index('m')

0

In [37]:
lst.index('p')

ValueError: 'p' is not in list

Syntax:
    
    lst.index(element, starting)
    lst.index(element, starting,ending)

In [41]:
lst.index('p', -1, -len(lst))

ValueError: 'p' is not in list

In [42]:
lst.index('m', -1, -len(lst))

ValueError: 'm' is not in list

In [43]:
lst.index('m', -len(lst), -1)

3

### Count

- It counts the number of occurance of that particular element inisde a list

In [54]:
lst = [1,2,3,4,6, 8, 10, 3.0, False, 'mayank', (5-9j), True, None, 2]

In [45]:
lst.count(1)

2

In [55]:
lst.count(3.0)

2

In [52]:
lst.count(2)

2

In [48]:
lst.count(True)

2

In [49]:
lst.count(False)

1

In [75]:
lst = [1,1.0, True, 1+0j]

lst.count(1)

4

In [72]:
lst.count(1.0)

4

In [73]:
lst.count(True)

4

In [74]:
lst.count(1+0j)

4

In [65]:
0 == 0+0j

True

In [67]:
2 == 2.0

True

In [70]:
lst.count(5)

0

In [91]:
lst = [1,2,3,4,6, 8, 10, 3.0, False, 'mayank', (5-9j), True, None, 2]

In [78]:
lst.count(1, 0)

TypeError: list.count() takes exactly one argument (2 given)

In [ ]:
lst.index()

In [ ]:
lst.count()

### pop()

- It returns the element available at a particular index and removes the element from the list
- We need to give the element index as an argument
- By default, it returns and removes the last element
- For invalid index, it returns an index error

In [79]:
lst

[1, 2, 3, 4, 6, 8, 10, 3.0, False, 'mayank', (5-9j), True, None, 2]

### Syntax:
    lst.pop(index)

In [80]:
x = lst.pop(2)
print(x)
print(lst)

3
[1, 2, 4, 6, 8, 10, 3.0, False, 'mayank', (5-9j), True, None, 2]

In [81]:
x = lst.pop()
print(x)
print(lst)

2
[1, 2, 4, 6, 8, 10, 3.0, False, 'mayank', (5-9j), True, None]

In [82]:
lst.append(x)

In [83]:
lst

[1, 2, 4, 6, 8, 10, 3.0, False, 'mayank', (5-9j), True, None, 2]

In [85]:
lst.pop(2.0)

TypeError: 'float' object cannot be interpreted as an integer

In [86]:
lst.pop(15)

IndexError: pop index out of range

In [87]:
lst

[1, 2, 4, 6, 8, 10, 3.0, False, 'mayank', (5-9j), True, None, 2]

In [88]:
x = lst.pop(lst.index(10))
# THIS WILL REMOVE THE FIRST OCCURANCE OF 10

In [89]:
x

10

In [92]:
x = lst.pop(lst.index(10))
# lst.index will be executed first giving the index of the first occurance of the element from left to right
# Now pop will use this index as an arguement and remove and return the elemnet at this index

In [93]:
x

10

In [99]:
for i, j in enumerate(lst):
    if j == 1 and j == True:
        print(f'The index of 1 or True is {i} ')

The index of 1 or True is 0
The index of 1 or True is 10

### remove()

- It removes the first occurance of a specified element from left to right
- If the element is not found, then it will throw a value error

In [106]:
lst = [1, True, 'hello', 'Python', False, 5-5j, {1:100, 2:200}, (1,2,3)]

In [101]:
lst

[True, 'hello', 'Python', False, (5-5j), {1: 100, 2: 200}, (1, 2, 3)]

In [102]:
lst.remove('Python')

In [103]:
lst

[True, 'hello', False, (5-5j), {1: 100, 2: 200}, (1, 2, 3)]

In [107]:
lst.remove(True)

In [108]:
lst

[True, 'hello', 'Python', False, (5-5j), {1: 100, 2: 200}, (1, 2, 3)]

In [109]:
lst.remove('mayank')

ValueError: list.remove(x): x not in list

### reverse()

- It will reverse the list
- It makes changes in the existing list only

In [110]:
lst

[True, 'hello', 'Python', False, (5-5j), {1: 100, 2: 200}, (1, 2, 3)]

In [111]:
id(lst)

2880425862016

In [112]:
lst.reverse()

In [113]:
lst

[(1, 2, 3), {1: 100, 2: 200}, (5-5j), False, 'Python', 'hello', True]

In [114]:
id(lst)

2880425862016

### sort()

- It will sort the list in ascending or descending order 
- By default, it will sort the list in the ascending order
- It will make the changes in the existing list

#### Ascending Order

In [118]:
lst = [100, 78, 65, 102, 200, 80, 34, 14]

In [119]:
id(lst)

2880412353792

In [120]:
lst.sort()

In [121]:
lst

[14, 34, 65, 78, 80, 100, 102, 200]

In [122]:
id(lst)

2880412353792

### Descending Order

In [123]:
lst

[14, 34, 65, 78, 80, 100, 102, 200]

In [124]:
lst.sort(reverse = True)

In [125]:
lst

[200, 102, 100, 80, 78, 65, 34, 14]

In [126]:
lst = ['b', 'z', 'a']

In [127]:
lst.sort()

In [128]:
lst

['a', 'b', 'z']

### insert()

- It is used to insert an element at a particular index
- The previous element at that index where you wish to insert the new_element will be shifted to the right

    Syntax:
    
        
        lst.insert(index, element)

In [136]:
lst = [1,2,3,4,5]

In [137]:
lst.insert(2, 'mayank')

In [138]:
lst

[1, 2, 'mayank', 3, 4, 5]

In [139]:
lst.insert(len(lst), 'python')

In [140]:
lst

[1, 2, 'mayank', 3, 4, 5, 'python']

In [141]:
lst.insert(-1, 'java')

In [142]:
lst

[1, 2, 'mayank', 3, 4, 5, 'java', 'python']

In [143]:
lst.insert(50, 'Data')
lst.insert(25, 'Science')

In [144]:
lst

[1, 2, 'mayank', 3, 4, 5, 'java', 'python', 'Data', 'Science']

In [146]:
 lst.insert(-20, 'learnbay')

In [147]:
lst

['learnbay', 1, 2, 'mayank', 3, 4, 5, 'java', 'python', 'Data', 'Science']

In [148]:
lst.insert(-2, 'Rahul')

In [150]:
print(lst)

['learnbay', 1, 2, 'mayank', 3, 4, 5, 'java', 'python', 'Rahul', 'Data', 'Science']

In [151]:
lst=[1, 'raja', 2, 5]
lst.insert(1,'baba')
print(lst)

[1, 'baba', 'raja', 2, 5]

In [152]:
lst

[1, 'baba', 'raja', 2, 5]

In [153]:
len(lst)

5

### copy()

- It copies the element from one list and returns a new list with all the same elements

In [154]:
lst = [1,2,3,4,5]

In [155]:
# aliasing ---> giving another name or a nickname
x = lst ----> # Shallow copy

In [156]:
x

[1, 2, 3, 4, 5]

In [158]:
lst

[1, 2, 3, 4, 5]

In [159]:
id(x)

2880426143616

In [160]:
id(lst)

2880426143616

In [162]:
lst1 = lst.copy() # Deep copy

In [163]:
lst

[1, 2, 3, 4, 5]

In [164]:
lst1

[1, 2, 3, 4, 5]

In [165]:
id(lst)

2880426143616

In [167]:
id(lst1)

2880426847936

In [168]:
lst1[0] = 100

In [169]:
lst1

[100, 2, 3, 4, 5]

In [170]:
lst

[1, 2, 3, 4, 5]

In [171]:
lst[0] = 50

In [172]:
lst

[50, 2, 3, 4, 5]

In [173]:
lst1

[100, 2, 3, 4, 5]

In [174]:
x

[50, 2, 3, 4, 5]

In [176]:
a=[]
b=[]
for i in range(1,11):
    if i%2==0:
        a.append(i)
    else:
        b.append(i)
print(a)    
print(b)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
lst.copy()

In [ ]:
lst.insert()

In [ ]:
id()

In [ ]:
lst.pop(lst.index(10))

In [ ]:
a = 10+5j ---> 1
b = 10+6j

In [ ]:
c = a ---> 1

### append and extend

- appemd will take one element ---> int, float, complex or any other data type ---> it will consider it a 1 element
- extend ---as the name suggest will help to extend the list ---> iterable object so what ever the element are there in the iterable object it will extend the list with those elements

    - string ---> char
    - list ---> different elements
    - tuple ---> different elements 
    - set --> unique elements
    - frozeset ---> unique eleemnts
    - dictionary---> key

In [177]:
lst = [1,2,3,4,5]

In [178]:
d = {1:100, 2:200}

In [179]:
lst.extend(d)

In [180]:
lst

[1, 2, 3, 4, 5, 1, 2]

In [192]:
my_str = 'Rohan'

In [193]:
id(my_str)

2880426219312

In [194]:
lst = list(my_str)

In [195]:
lst

['R', 'o', 'h', 'a', 'n']

In [196]:
my_str[0] = 'S'

TypeError: 'str' object does not support item assignment

In [197]:
lst[0] = 'S'

In [198]:
lst

['S', 'o', 'h', 'a', 'n']

In [199]:
my_str = 'S'+my_str[1:]

In [200]:
my_str

'Sohan'

In [201]:
id(my_str)

2880426267504