### Case-5  

- By taking the input from user as well

In [1]:
d = input("Enter a dictionary: ")
print(d, type(d))

Enter a dictionary: {1:100, 2:200, 3:300}
{1:100, 2:200, 3:300} <class 'str'>

In [2]:
d = eval(input("Enter a dictionary: "))
print(d, type(d))

Enter a dictionary: {1:100, 2:200, 3:300}
{1: 100, 2: 200, 3: 300} <class 'dict'>

In [3]:
# we have to create two empty list that will store the keys and the values and at the end we can zip them together
keys = []
values = []

# take the input from the user
for i in range(4):
    a = eval(input('Enter a key: '))
    keys.append(a)
    
    b = eval(input('Enter a value: '))
    values.append(b)
    
# zip both the list and typecast the result to a dictionary
z = dict(zip(keys, values))
print(z)

Enter a key: 1
Enter a value: 100
Enter a key: 2
Enter a value: 200
Enter a key: 3
Enter a value: 300
Enter a key: 4
Enter a value: 400
{1: 100, 2: 200, 3: 300, 4: 400}

In [6]:
# we have to create two empty list that will store the keys and the values and at the end we can zip them together
keys = []
values = []

# take the input from the user
for i in range(4):
    a = eval(input('Enter a key: '))
    keys.append(a)
    
    b = eval(input('Enter a value: '))
    values.append(b)
    
# zip both the list and typecast the result to a dictionary
z = dict(zip(keys, values))
print(z)

Enter a key: 'Name'
Enter a value: ['Mayank', 'Abha', 'Rishabh', 'Geetika']
Enter a key: "Age"
Enter a value: [29, 28, 28, 27]
Enter a key: 'Salary'
Enter a value: [96000, 75000, 100000, 65000]
Enter a key: 'City'
Enter a value: ['Goa', 'Pune', 'Bhopal', 'Noida']
{'Name': ['Mayank', 'Abha', 'Rishabh', 'Geetika'], 'Age': [29, 28, 28, 27], 'Salary': [96000, 75000, 100000, 65000], 'City': ['Goa', 'Pune', 'Bhopal', 'Noida']}

#### Case-6 

- Dictionary Comprehension

    Syntax:
    
    {i: operation in i for i in range()}

In [7]:
# Create a dictionary taking number as the key and their squares as the values

d = {i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [8]:
# Create a dictionary taking number as the key and their squares as the values and will give the answer only for odd value

d = {i:i**2 for i in range(1,11) if i%2 != 0}
print(d)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [10]:
# create a dictionary where the Capitals letters are the keys and their associated ASCII value are the values 

d1 = {chr(i):i for i in range(ord('A'),ord('Z')+1)}
print(d1)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [12]:
d={chr(i):ord(chr(i)) for i in range(65,91)}
print(d)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [13]:
z

{'Name': ['Mayank', 'Abha', 'Rishabh', 'Geetika'],
 'Age': [29, 28, 28, 27],
 'Salary': [96000, 75000, 100000, 65000],
 'City': ['Goa', 'Pune', 'Bhopal', 'Noida']}

In [14]:
import pandas as pd
pd.DataFrame(z)

      Name  Age  Salary    City
0   Mayank   29   96000     Goa
1     Abha   28   75000    Pune
2  Rishabh   28  100000  Bhopal
3  Geetika   27   65000   Noida

### Nested Dictionary 

- A dictionary within another dictionary is known as Nested Dictionary
- In nested dictionary a dictionary is mappend to a key of another dictionary 

    Syntax:
     
         {key:{Key:value}}

In [15]:
emp_1 = {'Name':'Rajesh', 'age':32, 'ID':101, 'salary':45000}
emp_2 = {'Name':'Pooja', 'age':26, 'ID':102, 'salary':48000}
emp_3 = {'Name':'Nishi', 'age':26, 'ID':103, 'salary':50000}

In [16]:
emp_detail = {'emp_1_detail':emp_1, 'emp_2_detail':emp_2, 'emp_3_detail':emp_3}

In [18]:
emp_detail

{'emp_1_detail': {'Name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000},
 'emp_2_detail': {'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000},
 'emp_3_detail': {'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000}}

In [19]:
# Fetch out the details of the first employee
emp_detail['emp_1_detail']

{'Name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000}

In [20]:
for i in emp_detail:
    print(emp_detail[i])

{'Name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000}
{'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000}
{'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000}

In [21]:
# Fetch out the Names of all the employee

for i in emp_detail:
    print(emp_detail[i]['Name'])

Rajesh
Pooja
Nishi

### Dictionary are Mutable

In [22]:
emp_detail

{'emp_1_detail': {'Name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000},
 'emp_2_detail': {'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000},
 'emp_3_detail': {'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000}}

In [23]:
emp_detail['emp_1_detail'] = {'Name': 'Mayank', 'age': 29, 'ID': 26, 'salary': 45000}

In [24]:
emp_detail

{'emp_1_detail': {'Name': 'Mayank', 'age': 29, 'ID': 26, 'salary': 45000},
 'emp_2_detail': {'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000},
 'emp_3_detail': {'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000}}

In [25]:
emp_detail['emp_1_detail']['Name'] = 'Rajesh'

In [26]:
emp_detail

{'emp_1_detail': {'Name': 'Rajesh', 'age': 29, 'ID': 26, 'salary': 45000},
 'emp_2_detail': {'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000},
 'emp_3_detail': {'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000}}

#### How to iterate over a nested dictionary ?

In [29]:
emp_detail

{'emp_1_detail': {'Name': 'Rajesh', 'age': 29, 'ID': 26, 'salary': 45000},
 'emp_2_detail': {'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000},
 'emp_3_detail': {'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000}}

In [31]:
# here we are iterating over the keys of emp_detail
for i in emp_detail:
    print(i)

emp_1_detail
emp_2_detail
emp_3_detail

In [32]:
# here we are iterating over the values of emp_detail
for i in emp_detail:
    print(emp_detail[i])

{'Name': 'Rajesh', 'age': 29, 'ID': 26, 'salary': 45000}
{'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000}
{'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000}

In [36]:
# fetch out the names , age , salary and ID of all the employee

for i in emp_detail:
    print(emp_detail[i]['Name'],emp_detail[i]['age'], emp_detail[i]['salary'], emp_detail[i]['ID'] )

Rajesh 29 45000 26
Pooja 26 48000 102
Nishi 26 50000 103

In [40]:
emp_1 = {'Name':'Rajesh', 'age':32, 'ID':101, 'salary':45000,'city':'Cochin'}
emp_2 = {'Name':'Pooja', 'age':26, 'ID':102, 'salary':48000, }
emp_3 = {'Name':'Nishi', 'age':26, 'ID':103, 'salary':50000,}

In [41]:
emp_detail = {'emp_1_detail':emp_1, 'emp_2_detail':emp_2, 'emp_3_detail':emp_3}

In [42]:
emp_detail

{'emp_1_detail': {'Name': 'Rajesh',
  'age': 32,
  'ID': 101,
  'salary': 45000,
  'city': 'Cochin'},
 'emp_2_detail': {'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000},
 'emp_3_detail': {'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000}}

In [43]:
emp_1 = {'Name':'Rajesh', 'age':32, 'ID':101, 'salary':45000,'city':'Cochin'}
emp_2 = {'Name':'Pooja', 'age':26, 'ID':102, 'salary':48000,'city':None }
emp_3 = {'Name':'Nishi', 'age':26, 'ID':103, 'salary':50000,'city':'Goa'}

In [44]:
emp_detail = {'emp_1_detail':emp_1, 'emp_2_detail':emp_2, 'emp_3_detail':emp_3}

In [45]:
emp_detail

{'emp_1_detail': {'Name': 'Rajesh',
  'age': 32,
  'ID': 101,
  'salary': 45000,
  'city': 'Cochin'},
 'emp_2_detail': {'Name': 'Pooja',
  'age': 26,
  'ID': 102,
  'salary': 48000,
  'city': None},
 'emp_3_detail': {'Name': 'Nishi',
  'age': 26,
  'ID': 103,
  'salary': 50000,
  'city': 'Goa'}}

In [48]:
for i in emp_detail:
    if emp_detail[i]['Name'] == 'Rajesh' and emp_detail[i]['ID'] == 101:
        emp_detail[i]['city'] = 'Bengaluru'

In [49]:
emp_detail

{'emp_1_detail': {'Name': 'Rajesh',
  'age': 32,
  'ID': 101,
  'salary': 45000,
  'city': 'Bengaluru'},
 'emp_2_detail': {'Name': 'Pooja',
  'age': 26,
  'ID': 102,
  'salary': 48000,
  'city': None},
 'emp_3_detail': {'Name': 'Nishi',
  'age': 26,
  'ID': 103,
  'salary': 50000,
  'city': 'Goa'}}

In [50]:
for i in emp_detail:
    if emp_detail[i]['Name'] == 'Pooja' and emp_detail[i]['ID'] == 101:
        emp_detail[i]['city'] = 'Noida'

In [51]:
emp_detail

{'emp_1_detail': {'Name': 'Rajesh',
  'age': 32,
  'ID': 101,
  'salary': 45000,
  'city': 'Bengaluru'},
 'emp_2_detail': {'Name': 'Pooja',
  'age': 26,
  'ID': 102,
  'salary': 48000,
  'city': None},
 'emp_3_detail': {'Name': 'Nishi',
  'age': 26,
  'ID': 103,
  'salary': 50000,
  'city': 'Goa'}}

### Methods

In [52]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### keys()

- It returns a dictionary object, the dictionary key object contains a list of keys from the dictionary

In [54]:
d = {i:i**2 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [55]:
a = d.keys()
print(a, type(a))

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) <class 'dict_keys'>

In [56]:
emp_detail

{'emp_1_detail': {'Name': 'Rajesh',
  'age': 32,
  'ID': 101,
  'salary': 45000,
  'city': 'Bengaluru'},
 'emp_2_detail': {'Name': 'Pooja',
  'age': 26,
  'ID': 102,
  'salary': 48000,
  'city': None},
 'emp_3_detail': {'Name': 'Nishi',
  'age': 26,
  'ID': 103,
  'salary': 50000,
  'city': 'Goa'}}

In [57]:
emp_detail.keys()

dict_keys(['emp_1_detail', 'emp_2_detail', 'emp_3_detail'])

#### Inner Keys

In [58]:
for i in emp_detail:
    print(emp_detail[i].keys())

dict_keys(['Name', 'age', 'ID', 'salary', 'city'])
dict_keys(['Name', 'age', 'ID', 'salary', 'city'])
dict_keys(['Name', 'age', 'ID', 'salary', 'city'])

### values()

- It returns a dictionary value object, the dictionary value object contains a list of the values from the dictionary

In [59]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [60]:
d.values()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [61]:
emp_detail.values()

dict_values([{'Name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000, 'city': 'Bengaluru'}, {'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000, 'city': None}, {'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000, 'city': 'Goa'}])

#### Inner values

In [62]:
for i in emp_detail:
    print(emp_detail[i].values())

dict_values(['Rajesh', 32, 101, 45000, 'Bengaluru'])
dict_values(['Pooja', 26, 102, 48000, None])
dict_values(['Nishi', 26, 103, 50000, 'Goa'])

### items()

- It returns a dictionary item object, that contains a list of tuples, and the tuple will have two elements in it
- The first element of the tuple is the keys and the second element of the tuple is the values associated to that key

In [63]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [64]:
d.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)])

#### Inner items

In [65]:
for i in emp_detail:
    print(emp_detail[i].items())

dict_items([('Name', 'Rajesh'), ('age', 32), ('ID', 101), ('salary', 45000), ('city', 'Bengaluru')])
dict_items([('Name', 'Pooja'), ('age', 26), ('ID', 102), ('salary', 48000), ('city', None)])
dict_items([('Name', 'Nishi'), ('age', 26), ('ID', 103), ('salary', 50000), ('city', 'Goa')])

In [66]:
emp_detail

{'emp_1_detail': {'Name': 'Rajesh',
  'age': 32,
  'ID': 101,
  'salary': 45000,
  'city': 'Bengaluru'},
 'emp_2_detail': {'Name': 'Pooja',
  'age': 26,
  'ID': 102,
  'salary': 48000,
  'city': None},
 'emp_3_detail': {'Name': 'Nishi',
  'age': 26,
  'ID': 103,
  'salary': 50000,
  'city': 'Goa'}}

In [67]:
for i, j in emp_detail.items():
    print(i)
    print(j)
    print('------------------')

emp_1_detail
{'Name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000, 'city': 'Bengaluru'}
------------------
emp_2_detail
{'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000, 'city': None}
------------------
emp_3_detail
{'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000, 'city': 'Goa'}
------------------

In [73]:
for i, j in emp_detail.items(): # fetching the values from the outer dictionary 
    print(i)
    print(j)
    print('------------------')
    for x in j.items(): # fetching the values from the inner dictionary
        print(x)
    print('--------------------------------------------------')

emp_1_detail
{'Name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000, 'city': 'Bengaluru'}
------------------
('Name', 'Rajesh')
('age', 32)
('ID', 101)
('salary', 45000)
('city', 'Bengaluru')
--------------------------------------------------
emp_2_detail
{'Name': 'Pooja', 'age': 26, 'ID': 102, 'salary': 48000, 'city': None}
------------------
('Name', 'Pooja')
('age', 26)
('ID', 102)
('salary', 48000)
('city', None)
--------------------------------------------------
emp_3_detail
{'Name': 'Nishi', 'age': 26, 'ID': 103, 'salary': 50000, 'city': 'Goa'}
------------------
('Name', 'Nishi')
('age', 26)
('ID', 103)
('salary', 50000)
('city', 'Goa')
--------------------------------------------------

### update()

- It is used to update the elements of one dictioanry to another dictionary 
- It is used to combine two dictionary
    
    Syntax:
        
        dict_1.update(dict_2)
        
__Note:__ 

   - update() method takes a dictionary as an argument
   - The elements of dictionary_2 will be added or updated to the dictionary_1

In [82]:
d = {i:i**2 for i in range(1,11) if i %2 == 0}
d

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [83]:
d_1 = {i:i**3 for i in range(1,11) if i %2 != 0}
d_1

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [84]:
d.update(d_1)

In [85]:
d

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [87]:
d_1.update(d)
d_1

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [88]:
dict_a = {'name':'shyam', 'age':25, 'salary':24000, 'isworking':True}
dict_b = {'name':'ram', 'age':26, 'salary':20600, 'isworking':False}

dict_a.update(dict_b)
dict_a

{'name': 'ram', 'age': 26, 'salary': 20600, 'isworking': False}

In [89]:
dict_a = {'name':'shyam', 'age':25, 'salary':24000, 'isworking':True}
dict_b = {'name':'ram', 'age':26, 'salary':20600, 'isworking':False}

dict_b.update(dict_a)
dict_b

{'name': 'shyam', 'age': 25, 'salary': 24000, 'isworking': True}

### pop()

- It returns the value at a specified key from the dictionary and it will remove the item at that particular key from the dictionary
- For all the invalid key, it will raise an error

    Syntax:
        
        dictionary_name.pop(key)

In [90]:
d

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [91]:
d.pop(7)

343

In [92]:
d

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 1: 1, 3: 27, 5: 125, 9: 729}

In [93]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [94]:
d

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 1: 1, 3: 27, 5: 125, 9: 729}

In [95]:
d.pop(7)

KeyError: 7

### popitem()

- It returns the last element  and removes it from the dictionary

In [96]:
d = {i:i**3 for i in range(1,11)}
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [97]:
d.popitem()

(10, 1000)

In [98]:
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [99]:
d.popitem(7)

TypeError: dict.popitem() takes no arguments (1 given)

### fromkeys()

- It is used to assign a same value to multiple keys

    Syntax:
        
        dict.fromkeys(iterable, value)
        
    __Note:__ 
        
        - The iterable should be considered as keys

In [104]:
names = {'Rajesh', 'karan', 'aman', 'priya', 'abha', 'Rajesh'} # they will act as keys
# {'Rajesh':'Learnbay', 'Karan':'Learnbay',.........}

In [105]:
comp = dict.fromkeys(names, 'Learnaby')
comp

{'abha': 'Learnaby',
 'karan': 'Learnaby',
 'aman': 'Learnaby',
 'priya': 'Learnaby',
 'Rajesh': 'Learnaby'}

In [102]:
number = [1,2,3,4,5]

In [103]:
a = dict.fromkeys(number, '2')
a

{1: '2', 2: '2', 3: '2', 4: '2', 5: '2'}

### get()

- It takes a key as an argument and returns the value at that key
- For an invalid key, it will return None

    Syntax:
    
        dict_name.get(key)

In [106]:
comp

{'abha': 'Learnaby',
 'karan': 'Learnaby',
 'aman': 'Learnaby',
 'priya': 'Learnaby',
 'Rajesh': 'Learnaby'}

In [107]:
comp.get('abha')

'Learnaby'

In [108]:
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [109]:
d.get(8)

512

In [111]:
print(d.get(11))

None

### setdefaults()

- It takes a key as an argument
- If the key is already there, then it will return the value at that particular key
- If the key is not there, then it creates one and assign None to that key
- We can pass both the key and the value as well in the method and it will update the dictionary with the newly assigned values

In [112]:
names

{'Rajesh', 'abha', 'aman', 'karan', 'priya'}

In [114]:
names = list(names)
names

['abha', 'karan', 'aman', 'priya', 'Rajesh']

In [115]:
cities = ['Chennai', 'Goa', 'Pune', 'Noida', 'Mumbai']

In [116]:
emp = dict(zip(names, cities))
emp

{'abha': 'Chennai',
 'karan': 'Goa',
 'aman': 'Pune',
 'priya': 'Noida',
 'Rajesh': 'Mumbai'}

In [117]:
emp.setdefault('abha')

'Chennai'

In [118]:
emp.setdefault('priya')

'Noida'

In [119]:
emp.setdefault('mayank')

In [120]:
emp

{'abha': 'Chennai',
 'karan': 'Goa',
 'aman': 'Pune',
 'priya': 'Noida',
 'Rajesh': 'Mumbai',
 'mayank': None}

In [121]:
emp.setdefault('Chandni', 'Jalandhar')

'Jalandhar'

In [122]:
emp

{'abha': 'Chennai',
 'karan': 'Goa',
 'aman': 'Pune',
 'priya': 'Noida',
 'Rajesh': 'Mumbai',
 'mayank': None,
 'Chandni': 'Jalandhar'}

### clear()

- It removes all the elements or items from the dictionary and makes the dictionary empty

In [123]:
emp

{'abha': 'Chennai',
 'karan': 'Goa',
 'aman': 'Pune',
 'priya': 'Noida',
 'Rajesh': 'Mumbai',
 'mayank': None,
 'Chandni': 'Jalandhar'}

In [124]:
emp.clear()

In [125]:
emp

{}

### copy()

- It copies all the elements or items of a dictionary and creates a new dictionary

In [127]:
d = {i:i**2 for i in range(1,11)}
print(d, id(d))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100} 1600644329664

In [129]:
d2 = d.copy()
print(d2, id(d2))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100} 1600644322176