### Slicing

- Fetch a sub-element from a list 

#### There are two types of Slicing

    - Positive Slicing
    - Negative Slicing

In [1]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst

### Positive Slicing

    Syntax:
    
     lst_name[starting_index: ending_index:step_size]
     
     where 
     - Starting index is the index from where we want to do the slicing, by default, starting index is zero (0)
     - ending index is the index till which we want to do the slicing, as it is exculded we have to take n+1 value,
     by default the ending index will go the end of the list 
     - Step-size is the jump that you want to do in the slicing, by default, the step-size is 1

In [2]:
lst

In [3]:
lst[::]

In [4]:
lst[0::]

In [5]:
lst[0:len(lst):]

In [6]:
lst[0:len(lst):1]

In [7]:
lst[1::2]

### Negative Slicing

    Syntax:
    
     lst_name[starting_index: ending_index:step_size]

In [8]:
lst

In [9]:
lst[::-1] # this is fetch the reverse list

In [10]:
lst

In [11]:
lst[-3:-9:-1]

In [12]:
lst[-8:-2]

[3, 4, 5, 6, 7, 8]

In [13]:
lst[::] # by default value will be taken accordingly positive indexing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# positive indexing

lst[2:8]

[3, 4, 5, 6, 7, 8]

In [16]:
# negative slicing
lst[-8:-2]

[3, 4, 5, 6, 7, 8]

### Create a list

#### Case -1 

- When we know all the elements of a list

In [17]:
lst = [1,1.0, 10+2j, True, None, 'python', range(5)]
print(lst, type(lst))

[1, 1.0, (10+2j), True, None, 'python', range(0, 5)] <class 'list'>

#### Case-2

- Using list() function or typecasting
- we always need an iterable that we want to typecast
- list() function take an iterable as an argument and returns a list
- Iterable - range, string, tuple, dictionary, set and frozenset
- __Note:__ we can not use any numeric datatype (int, float, complex), boolean datatype nor None Datatype

In [18]:
my_str = 'Python'
print(my_str, type(my_str))

Python <class 'str'>

In [19]:
b = list(my_str)
b

['P', 'y', 't', 'h', 'o', 'n']

In [20]:
a = range(11)
a

range(0, 11)

In [21]:
b = list(a)
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
t = (1,2,3,4,5,6)
print(t, type(t))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [23]:
b = list(t)
print(b, type(b))

[1, 2, 3, 4, 5, 6] <class 'list'>

In [24]:
d = {1:100, 2:200, 3:300, 4:400}
print(d, type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [25]:
lst = list(d)
print(lst, type(lst))

[1, 2, 3, 4] <class 'list'>

In [26]:
lst = list(d.values())
print(lst, type(lst))

[100, 200, 300, 400] <class 'list'>

In [27]:
lst = list(1110)
print(lst, type(lst))

TypeError: 'int' object is not iterable

In [28]:
lst = list(11.0)
print(lst, type(lst))

TypeError: 'float' object is not iterable

In [29]:
lst = list(11+5j)
print(lst, type(lst))

TypeError: 'complex' object is not iterable

In [30]:
lst = list(True)
print(lst, type(lst))

TypeError: 'bool' object is not iterable

In [31]:
lst = list(None)
print(lst, type(lst))

TypeError: 'NoneType' object is not iterable

#### Case-3 


- By talking input from the user

In [34]:
lst = list(input('Enter a list: '))
print(lst, type(lst))

Enter a list: 12345
['1', '2', '3', '4', '5'] <class 'list'>

In [33]:
s = input('Enter a value: ')
lst = s.split()
print(lst, type(lst))

Enter a value: Hello python
['Hello', 'python'] <class 'list'>

In [35]:
s = input('Enter different values seperated by a comma: ')
lst = s.split(',')
print(lst, type(lst))

Enter different values seperated by a comma: 1,2,3,4,5
['1', '2', '3', '4', '5'] <class 'list'>

### Eval function 

- It will automatically evaluates the type of the value stored in a particular variable
- The argument for an eval() function should always be a string

In [36]:
a = '10'
b = eval(a)
print(b , type(b))

10 <class 'int'>

In [37]:
num = eval(input('Enter a number: '))
print(num, type(num))

Enter a number: 10
10 <class 'int'>

In [ ]:
num = eval(input('Enter a number: '))
print(num, type(num))

In [38]:
a = eval(input('Enter a value: '))
print(a, type(a))

Enter a value: 10.0
10.0 <class 'float'>

In [39]:
a = eval(input('Enter a value: '))
print(a, type(a))

Enter a value: 4+8j
(4+8j) <class 'complex'>

In [40]:
a = eval(input('Enter a value: '))
print(a, type(a))

Enter a value: True
True <class 'bool'>

In [41]:
a = eval(input('Enter a value: '))
print(a, type(a))

Enter a value: None
None <class 'NoneType'>

In [44]:
a = eval(input('Enter a value : '))
print(a, type(a))

Enter a value : mayank

NameError: name 'mayank' is not defined

In [42]:
a = input('Enter a value : ')
print(a, type(a))

Enter a value : 'mayank'
'mayank' <class 'str'>

In [45]:
a = eval(input('Enter a value: '))
if type(a) == int:
    if a % 2 == 0:
        print(f'{a} is a even number')
    else:
        print(f'{a} is a odd number')
else:
    print('The input is not an integer')

Enter a value: 10
10 is a even number

In [46]:
a = eval(input('Enter a value: '))
if type(a) == int:
    if a % 2 == 0:
        print(f'{a} is a even number')
    else:
        print(f'{a} is a odd number')
else:
    print('The input is not an integer')

Enter a value: 10.0
The input is not an integer

#### Case -4 

##### List Comprehension 

    - It is used to create simple list quickly

In [1]:
# Conventional way of Creating a list having elements from 1 to 50 in it

# Create an empty list 
a = []

# We will iterate over the range from 1 to 50
for i in range(1, 51):
    # appening each element inside a list one by one
    a = a + [i] # or a += [i]

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [2]:
# list comprehenison
a = [i for i in range(1, 51)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [3]:
# With the help of the conventional way create a list having even elements from list a 

b=[]
for i in a:
    if i%2==0:
        b+=[i]
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

Syntax: 
    
    If single condition we have to check
    
    list_name = [element for element in iterable condition_if_there_is_any]

In [50]:
even_lst = [i for i in a if i%2==0]
print(even_lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [4]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [5]:
# With the help of the conventional way and the list comprehension create a list having odd elements from list a 

# Conventional waay
odd_lst = []

for i in a:
    if i%2 == 0:
        continue
    else:
        odd_lst+= [i]
print(odd_lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [7]:
# List comprehension

odd_lst = [i for i in a if i%2 !=0]
print(odd_lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

Syntax:
    
    If we want to check two conditions 
    
    lst_name = [element_1 if condition_1 else element_2 for element in iterable ]

In [9]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### create a list which is going to give the square of a number if the number is even and a cube of a number if the number is odd

In [10]:
# conventional way 

c = []
for i in a:
    if i%2 == 0:
        c += [i**2]
    else:
        c += [i**3]
print(c)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375, 256, 4913, 324, 6859, 400, 9261, 484, 12167, 576, 15625, 676, 19683, 784, 24389, 900, 29791, 1024, 35937, 1156, 42875, 1296, 50653, 1444, 59319, 1600, 68921, 1764, 79507, 1936, 91125, 2116, 103823, 2304, 117649, 2500]

In [12]:
# list comprehension

print([i**2 if i%2==0 else i**3 for i in a])

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375, 256, 4913, 324, 6859, 400, 9261, 484, 12167, 576, 15625, 676, 19683, 784, 24389, 900, 29791, 1024, 35937, 1156, 42875, 1296, 50653, 1444, 59319, 1600, 68921, 1764, 79507, 1936, 91125, 2116, 103823, 2304, 117649, 2500]

In [14]:
# Create a list of letter From A to Z using conventional way 
a=[]
for i in range(65,91):
    a=a+[chr(i)]
print(a)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [15]:
a=[]
for i in range(ord('A'), ord('Z')+1):
    a=a+[chr(i)]
print(a)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [16]:
# Create a list of letter From A to Z using list Comprehension

c = [ chr(i) for i in range(65, 91)]
print(c)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [21]:
c = [ chr(i) for i in range(ord("A"), ord("Z")+1)] 
print(c)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [22]:
ord('A')

65

In [27]:
ord('Z')

90

In [23]:
ord('Z')+1

91

In [ ]:
range(65, 91)

In [26]:
a=[]
for i in range(ord("A"), ord("Z")+1):
    a=a+[chr(i)]
print(a)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

Advantages 

1. Readability 
2. Concise Code 
3. Improved Performance
4. Fast execution

Disadvantage 

1. Limited to simple Operations
2. Nested Comprehsion
3. Readability trade off 
4. Debugging challenge

In [28]:
lst = []

for i in range(21):
    lst += [i]

print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [30]:
lst = [i for i in range(21)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [31]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [32]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']